// Global colors
$global-clr-white: #fff;
$global-clr-black: #000;
$global-clr-gray: #808080;

// Global sizing
$global-auto: auto;

// Container sizing
$container-width: 1000px;
$container-padding: 0 15px;